<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
	<div class="navbar navbar-inverse navbar-static-top">
		<div class="navbar-inner">
			<a class="brand" href="#">Top Stories</a>
		</div>
	</div>
	<div class="container">
		<div class="left-col">
			<div id="feeds"></div>
		</div>
		<div class="right-col">
			<div class="input-append">
					<input type="text" class="span2" id="load-rss-input" value="http://news.yahoo.com/rss/topstories"/>
					<button class="btn" type="button" id="load-rss-submit">View feed!</button>
			</div>
			<div id="summary"></div>
		</div>
	</div>
	<script type="text/javascript" src="js/jquery-min.js"></script>
	<script type="text/javascript" src="js/jquery-rss-reader.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			//$().rssReader({url:"http://feeds.huffingtonpost.com/huffingtonpost/raw_feed",target:"feeds"});
			var loadRSS = function(){
				var rssfeedlink = $("#load-rss-input").val();
				$().rssReader({url:rssfeedlink,target:"feeds",summarytarget:"summary"});
			}
			$('#load-rss-submit').click(function(){
				loadRSS();
			});
		
		loadRSS();
		});
	</script>
</body>
</html>
