<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<style>
		
	</style>
</head>
<body>
	<div class="navbar navbar-inverse navbar-static-top">
		<div class="navbar-inner">
			<a class="brand" href="#">Top Stories</a>
		</div>
	</div>
	<div class="container">
		<div id="feeds"></div>
	</div>
	<script type="text/javascript" src="js/jquery-min.js"></script>
	<script type="text/javascript" src="js/jquery-rss-reader.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			//$().rssReader({url:"http://feeds.huffingtonpost.com/huffingtonpost/raw_feed",target:"feeds"});
			var a = $().rssReader({url:"http://news.yahoo.com/rss/topstories",target:"feeds"});
		});
	</script>
</body>
</html>
